@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #4e9ad0
}

.home{
    height: 100vh;
    background: url(gg2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.isi-home{
    max-width: 600px;
}

.isi-home h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.isi-home h4{
    font-size: 32px;
    font-weight: 700;
    color: #4e9ad0;
}

.isi-home p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.isi-home .box{
    display: flex;
    width: 310px;
    height: 50px;
}

.box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 100%;
    background: #4e9ad0;
    border: 2px solid #4e9ad0;
    border-radius: 8px;
    font-size: 19px;
    color:#081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.box a:hover {
    color: #4e9ad0;
}

.box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.box a:hover::before {
    width: 100%;
}

.home-info{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-info a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #4e9ad0;
    border-radius: 50%;
    font-size: 20px;
    color: #4e9ad0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-info a:hover {
    color: #081b29;
}

.home-info a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4e9ad0;
    z-index: -1;
    transition: .5s;
}

.home-info a:hover:before {
    width: 100%;
}